body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    font-family: Roboto;
}

h1 {
    font-size: 14px;
    font-weight: 400;
    color:#AAAAAA;
    margin: 4px;
}

h2 {
    font-size: 14px;
    font-weight: 700;
    color:#000000;
    margin: 3px;
}

h3 {
    font-size: 14px;
    font-weight: 400;
    color:#000000;
    margin: 3px;
}
.mobileversion {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.topo {
    width: 375px;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 42px;
}

.painelmensagem {
    height: 507px;
    box-sizing: border-box;
    padding-top: 26px;
    overflow-y: scroll;
}

.mensagemstatus {
    width: 375px;
    height: 40px;
    border-radius: 2px;
    background-color:#DCDCDC;
    margin-bottom: 4px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    padding: 0 9px 0 8px;
    box-sizing: border-box;
    color: #000000;
}

.mensagemnormal {
    width: 375px;
    height: 40px;
    border-radius: 2px;
    background-color:#FFFFFF;
    margin-bottom: 4px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    padding: 0 9px 0 8px;
    box-sizing: border-box;
    color: #000000;
}

.mensagemreservada {
    width: 375px;
    height: 40px;
    border-radius: 2px;
    background-color:#FFDEDE;
    margin-bottom: 4px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    padding: 0 9px 0 8px;
    box-sizing: border-box;
    color: #000000;
}
.fundo {
    width: 375px;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
}

.fundo input {
    height: 78px;
    border: none;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
}
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    }
input::placeholder {
    color: #000000;
}