body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    font-family: Roboto;
}

h1 {
    font-size: 14px;
    font-weight: 400;
    color:#AAAAAA;
    margin: 4px;
}

h2 {
    font-size: 14px;
    font-weight: 700;
    color:#000000;
    margin: 3px;
}

h3 {
    font-size: 14px;
    font-weight: 400;
    color:#000000;
    margin: 3px;
}
.mobileversion {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.topo {
    width: 375px;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 42px;
}

.painelmensagem {
    height: 507px;
    box-sizing: border-box;
    padding-top: 26px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}


.mensagemstatus {
    width: 375px;
    height: auto;
    line-height: 20px;
    border-radius: 2px;
    background-color:#DCDCDC;
    margin-bottom: 4px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    align-items: center;
    font-size: 14px;
    padding: 0 9px 0 8px;
    box-sizing: border-box;
    color: #000000;
}

.mensagemnormal {
    width: 375px;
    height: auto;
    line-height: 20px;
    border-radius: 2px;
    background-color:#FFFFFF;
    margin-bottom: 4px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    align-items: center;
    font-size: 14px;
    padding: 0 9px 0 8px;
    box-sizing: border-box;
    color: #000000;
}

.mensagemreservada {
    width: 375px;
    height: auto;
    line-height: 20px;
    border-radius: 2px;
    background-color:#FFDEDE;
    margin-bottom: 4px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    align-items: center;
    font-size: 14px;
    padding: 0 9px 0 8px;
    box-sizing: border-box;
    color: #000000;
}
.fundo {
    width: 375px;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
}

.fundo input {
    height: 78px;
    border: none;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
}
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    }
input::placeholder {
    color: #000000;
}

.participanteativo {
    width: 375px;
    height: 667px;
    display: flex;
    position: absolute;
    top: 0;
}

.fundotransparente {
    height: 100%;
    width: 116px;
    background-color:rgba(0, 0, 0, 0.6);
}

.informacaodagalera {
    height: 100%;
    width: 259px;
    background-color: #FFFFFF;
}

.primeirotexto{
    height: 84px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.pessoasonline {
    height: 185px;
    overflow-y: scroll;
}

.usuarios {
    height: 36px;
    margin-bottom: 1px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    box-sizing: border-box;
    padding-left: 18px;
    display: flex;
    justify-content: space-between;
}

.icone,
.icone1 {
    opacity: 0;
}

.usuarios ion-icon {
    font-size: 20px;
    margin-right: 11px;
}

.usuarios div:nth-child(2) ion-icon {
    color: #28BB25;
    font-size: 16px;
    margin-right: 27px;
}

.segundotexto {
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.visibilidade {
    height: 36px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    box-sizing: border-box;
    padding-left: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visibilidade div:nth-child(1) ion-icon {
    font-size: 20px;
    margin-right: 11px;
}

.visibilidade div:nth-child(2) ion-icon {
    color: #28BB25;
    margin-right: 27px;
}

.escondido {
    opacity: 0;
    z-index: -1;
}

.opaco {
    opacity: 1;
}

.teladeentrada {
    width: 375px;
    height: 667px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 2;
}

.usuarioentrou {
    opacity: 0;
    z-index: -2;
}

.teladeentrada img {
    margin-top: 72px;
}

.nomedaentrada{
    width: 261px;
    height: 54px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 112px 0 15px 0;
}

.nomedaentrada::placeholder {
    color: #AEAEAE;
}

.botaoentrada{
    width: 109px;
    height: 45px;
}

.botaoentrada button {
    border: none;
    background-color: #E7E7E7;
    width: 109px;
    height: 45px;
    border-radius: 9px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #696969;
}

.telaentradaloading {
    width: 375px;
    height: 667px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    position: absolute;
    top: 0;
}

.telaentradaloading img{
    margin-top: 72px;
}

.loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #080202, 1.8em -1.8em 0 0em rgba(8,2,2, 0.2), 2.5em 0em 0 0em rgba(8,2,2, 0.2), 1.75em 1.75em 0 0em rgba(8,2,2, 0.2), 0em 2.5em 0 0em rgba(8,2,2, 0.2), -1.8em 1.8em 0 0em rgba(8,2,2, 0.2), -2.6em 0em 0 0em rgba(8,2,2, 0.5), -1.8em -1.8em 0 0em rgba(8,2,2, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(8,2,2, 0.7), 1.8em -1.8em 0 0em #080202, 2.5em 0em 0 0em rgba(8,2,2, 0.2), 1.75em 1.75em 0 0em rgba(8,2,2, 0.2), 0em 2.5em 0 0em rgba(8,2,2, 0.2), -1.8em 1.8em 0 0em rgba(8,2,2, 0.2), -2.6em 0em 0 0em rgba(8,2,2, 0.2), -1.8em -1.8em 0 0em rgba(8,2,2, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(8,2,2, 0.5), 1.8em -1.8em 0 0em rgba(8,2,2, 0.7), 2.5em 0em 0 0em #080202, 1.75em 1.75em 0 0em rgba(8,2,2, 0.2), 0em 2.5em 0 0em rgba(8,2,2, 0.2), -1.8em 1.8em 0 0em rgba(8,2,2, 0.2), -2.6em 0em 0 0em rgba(8,2,2, 0.2), -1.8em -1.8em 0 0em rgba(8,2,2, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(8,2,2, 0.2), 1.8em -1.8em 0 0em rgba(8,2,2, 0.5), 2.5em 0em 0 0em rgba(8,2,2, 0.7), 1.75em 1.75em 0 0em #080202, 0em 2.5em 0 0em rgba(8,2,2, 0.2), -1.8em 1.8em 0 0em rgba(8,2,2, 0.2), -2.6em 0em 0 0em rgba(8,2,2, 0.2), -1.8em -1.8em 0 0em rgba(8,2,2, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(8,2,2, 0.2), 1.8em -1.8em 0 0em rgba(8,2,2, 0.2), 2.5em 0em 0 0em rgba(8,2,2, 0.5), 1.75em 1.75em 0 0em rgba(8,2,2, 0.7), 0em 2.5em 0 0em #080202, -1.8em 1.8em 0 0em rgba(8,2,2, 0.2), -2.6em 0em 0 0em rgba(8,2,2, 0.2), -1.8em -1.8em 0 0em rgba(8,2,2, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(8,2,2, 0.2), 1.8em -1.8em 0 0em rgba(8,2,2, 0.2), 2.5em 0em 0 0em rgba(8,2,2, 0.2), 1.75em 1.75em 0 0em rgba(8,2,2, 0.5), 0em 2.5em 0 0em rgba(8,2,2, 0.7), -1.8em 1.8em 0 0em #080202, -2.6em 0em 0 0em rgba(8,2,2, 0.2), -1.8em -1.8em 0 0em rgba(8,2,2, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(8,2,2, 0.2), 1.8em -1.8em 0 0em rgba(8,2,2, 0.2), 2.5em 0em 0 0em rgba(8,2,2, 0.2), 1.75em 1.75em 0 0em rgba(8,2,2, 0.2), 0em 2.5em 0 0em rgba(8,2,2, 0.5), -1.8em 1.8em 0 0em rgba(8,2,2, 0.7), -2.6em 0em 0 0em #080202, -1.8em -1.8em 0 0em rgba(8,2,2, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(8,2,2, 0.2), 1.8em -1.8em 0 0em rgba(8,2,2, 0.2), 2.5em 0em 0 0em rgba(8,2,2, 0.2), 1.75em 1.75em 0 0em rgba(8,2,2, 0.2), 0em 2.5em 0 0em rgba(8,2,2, 0.2), -1.8em 1.8em 0 0em rgba(8,2,2, 0.5), -2.6em 0em 0 0em rgba(8,2,2, 0.7), -1.8em -1.8em 0 0em #080202;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #080202, 1.8em -1.8em 0 0em rgba(8,2,2, 0.2), 2.5em 0em 0 0em rgba(8,2,2, 0.2), 1.75em 1.75em 0 0em rgba(8,2,2, 0.2), 0em 2.5em 0 0em rgba(8,2,2, 0.2), -1.8em 1.8em 0 0em rgba(8,2,2, 0.2), -2.6em 0em 0 0em rgba(8,2,2, 0.5), -1.8em -1.8em 0 0em rgba(8,2,2, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(8,2,2, 0.7), 1.8em -1.8em 0 0em #080202, 2.5em 0em 0 0em rgba(8,2,2, 0.2), 1.75em 1.75em 0 0em rgba(8,2,2, 0.2), 0em 2.5em 0 0em rgba(8,2,2, 0.2), -1.8em 1.8em 0 0em rgba(8,2,2, 0.2), -2.6em 0em 0 0em rgba(8,2,2, 0.2), -1.8em -1.8em 0 0em rgba(8,2,2, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(8,2,2, 0.5), 1.8em -1.8em 0 0em rgba(8,2,2, 0.7), 2.5em 0em 0 0em #080202, 1.75em 1.75em 0 0em rgba(8,2,2, 0.2), 0em 2.5em 0 0em rgba(8,2,2, 0.2), -1.8em 1.8em 0 0em rgba(8,2,2, 0.2), -2.6em 0em 0 0em rgba(8,2,2, 0.2), -1.8em -1.8em 0 0em rgba(8,2,2, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(8,2,2, 0.2), 1.8em -1.8em 0 0em rgba(8,2,2, 0.5), 2.5em 0em 0 0em rgba(8,2,2, 0.7), 1.75em 1.75em 0 0em #080202, 0em 2.5em 0 0em rgba(8,2,2, 0.2), -1.8em 1.8em 0 0em rgba(8,2,2, 0.2), -2.6em 0em 0 0em rgba(8,2,2, 0.2), -1.8em -1.8em 0 0em rgba(8,2,2, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(8,2,2, 0.2), 1.8em -1.8em 0 0em rgba(8,2,2, 0.2), 2.5em 0em 0 0em rgba(8,2,2, 0.5), 1.75em 1.75em 0 0em rgba(8,2,2, 0.7), 0em 2.5em 0 0em #080202, -1.8em 1.8em 0 0em rgba(8,2,2, 0.2), -2.6em 0em 0 0em rgba(8,2,2, 0.2), -1.8em -1.8em 0 0em rgba(8,2,2, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(8,2,2, 0.2), 1.8em -1.8em 0 0em rgba(8,2,2, 0.2), 2.5em 0em 0 0em rgba(8,2,2, 0.2), 1.75em 1.75em 0 0em rgba(8,2,2, 0.5), 0em 2.5em 0 0em rgba(8,2,2, 0.7), -1.8em 1.8em 0 0em #080202, -2.6em 0em 0 0em rgba(8,2,2, 0.2), -1.8em -1.8em 0 0em rgba(8,2,2, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(8,2,2, 0.2), 1.8em -1.8em 0 0em rgba(8,2,2, 0.2), 2.5em 0em 0 0em rgba(8,2,2, 0.2), 1.75em 1.75em 0 0em rgba(8,2,2, 0.2), 0em 2.5em 0 0em rgba(8,2,2, 0.5), -1.8em 1.8em 0 0em rgba(8,2,2, 0.7), -2.6em 0em 0 0em #080202, -1.8em -1.8em 0 0em rgba(8,2,2, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(8,2,2, 0.2), 1.8em -1.8em 0 0em rgba(8,2,2, 0.2), 2.5em 0em 0 0em rgba(8,2,2, 0.2), 1.75em 1.75em 0 0em rgba(8,2,2, 0.2), 0em 2.5em 0 0em rgba(8,2,2, 0.2), -1.8em 1.8em 0 0em rgba(8,2,2, 0.5), -2.6em 0em 0 0em rgba(8,2,2, 0.7), -1.8em -1.8em 0 0em #080202;
    }
  }
  